[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "mozilla/firefox"]
	path = mozilla/firefox
	url = git@gitlab.com:simo-config/firefox.git
[submodule "mozilla/librewolf"]
	path = mozilla/librewolf
	url = git@gitlab.com:simo-config/librewolf.git
