# Ignore everything
/*

# But not these...
!.gitignore
!README
!zsh
!nvim
!git
!alacritty
!tmux
!tidal_dl_ng
!ideavim
!deadbeef/config
!i3


# But ignore these...
zsh/.zhistory
zsh/.zsh_history
zsh/.zcompdump
