# Ignore everything
/*

# But not these...
!.gitignore
!README
!zsh
!nvim
!git
!alacritty
!tmux
!tidal_dl_ng
!ideavim
!deadbeef/config
!i3
!sway
!tofi
!mozilla
!clangd
!clang-format
!linearmouse
!kitty
!foot
!locale.conf
!vim
vim/*
!vim/vimrc

# But ignore these...
mozilla/thunderbird/
