* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background: black;
	color: white;
	font-family: "JetBrainsMonoNL Nerd Font";
	font-size: 16px;
}

#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}

#network.disconnected {
	color: orange;
}

#workspaces button {
	border: 1px solid black;
	color: #5c5c5c;
	padding: 2px;
}

#workspaces button.focused {
	border: 1px solid #4c7899;
	background-color: #285577;
	color: white;
}

#workspaces button.urgent {
	border: 1px solid #2f343a;
	background-color: #900000;
	color: white;
}
