* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background: #000000;
	color: white;
	font-family: "JetBrainsMonoNL Nerd Font";
	font-size: 16px;
}

#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
	padding: 0 10px;
}


#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

#clock {
	font-weight: bold;
}

#network {
	/* No styles */
}

#network.disconnected {
	color: orange;
}

#pulseaudio {
	/* No styles */
}

#pulseaudio.muted {
	/* No styles */
}

#temperature {
	/* No styles */
}

#temperature.critical {
	color: red;
}

#tray {
	/* No styles */
}

#workspaces button {
	padding: 2px;
	color: #5c5c5c;
}

#workspaces button.focused {
	border: 1px solid #4c7899;
	color: white;
	background-color: #285577;
}

#workspaces button.urgent {
	border: 1px solid #2f343a;
	color: #900000;
}
